@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   .no-scrollbar::-webkit-scrollbar {
      display: none;
   }
   /* Hide scrollbar for IE, Edge and Firefox */
   .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
   }
}

@layer components {
   .border-line {
      background-image: linear-gradient(to right, rgba(113, 116, 112, 0.25) 33%, rgba(255, 255, 255, 0) 0%);
      background-position: bottom;
      background-size: 30px 3px;
      background-repeat: repeat-x;

      /* Vertical */
      /* background-position: right;
      background-size: 1px 3px;
      background-repeat: repeat-y; */
   }
}
